.sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--secondary-bg-color);
    box-shadow: inset -10px 0 10px rgb(0 0 0 / 10%);
    position: relative;
    transition: width 0.2s ease;
}

.switchers {
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.collapseBtn {
    position: absolute;
    width: 100%;
    right: 25px;
    bottom: 10px;
}

.items {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 22px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
    }

    .link {
        opacity: 0;
        transition: 0.1s opacity;
        width: 0;
    }
}
