.app.dark {
    --bg-color: #262626;
    --inverted-bg-color: #eaeaea;
    --primary-color: #fff;
    --secondary-color: #bbb;
    --inverted-primary-color: #003af3;
    --inverted-secondary-color: #00ace0;
}
