:root[data-theme="app_dark_theme"],
.app_dark_theme {
    --bg-color: #262626;
    --secondary-bg-color: #333;
    --inverted-bg-color: #eaeaea;
    --primary-color: #fff;
    --secondary-color: #bbb;
    --inverted-primary-color: #4f60b9;
    --inverted-secondary-color: #00ace0;
    --border-color: #555;
    --header-color: #373b51;
}
