:root[data-theme="light"],
.app.light {
    --bg-color: #eaeaea;
    --inverted-bg-color: #262626;
    --primary-color: #003af3;
    --secondary-color: #00ace0;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #bbb;
}
