.profileCard {
  border: 2px solid var(--border-color);
  padding: 30px;
  border-radius: 4px;
}

.loading, .error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.avatarWrapper {
  text-align: center;
}

.data {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.input {

}