.profileCard {
  border: 3px solid var(--inverted-bg-color);
  padding: 30px;
  border-radius: 4px;
}

.header {
  display: flex;
}

.editBtn {
  margin-left: auto;
}

.data {
  margin-top: 30px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}